
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="row mt-4">
    <div class="col-xl-3 col-lg-6 col-12 mb-3 w-75 align-content-center">
        <div class="tab">
            <div class="tab-content">
                <div class="card">
                    <img class="card-img-top" src="../../Assets/img/theme/team-1-800x800.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Despacho</h5>
                        <p class="card-text">En esta ventana podra agregar y editar Despachos del Circuito.</p>
                        <a class="nav-link" style="font-size:medium; font:bold" href="@Url.Action("DespachoIndex", "Admin")">
                            <img src="~/Assets/Icons/icons8-department-48.png"> Ir...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12 mb-3 w-75 align-content-center">
        <div class="tab">
            <div class="tab-content">
                <div class="card">
                    <img class="card-img-top" src="../../Assets/img/theme/team-1-800x800.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tipo Equipo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="nav-link" style="font-size:medium; font:bold" href="@Url.Action("TipoEquipoIndex", "Admin")">
                            <img src="~/Assets/Icons/icons8-laptop-48.png"> Ir...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12 mb-3 w-75 align-content-center">
        <div class="tab">
            <div class="tab-content">
                <div class="card">
                    <img class="card-img-top" src="../../Assets/img/theme/team-1-800x800.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Contrato</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="nav-link" style="font-size:medium; font:bold" href="@Url.Action("ContratoIndex", "Admin")">
                            <img src="~/Assets/Icons/icons8-agreement-48.png"> Ir...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

